@charset "utf-8";

dl.cart, dl.bonus {margin: 0}
dl.outline {
    border: #f0f0f0 5px solid;
    border-bottom: #f0f0f0 3px solid;
    border-top: none
}
dl.cart dt.title, dl.cart dt.mtitle, dl.bonus dt.title, dl.bonus dt.mtitle {
    background: #ef7622;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding: 1.25rem 0
}
dl.cart dt.mtitle, dl.bonus dt.mtitle {
    display: none;
    height: 100%;
    border-bottom: rgba(255, 255, 255, 0.2) 1px solid
}
dl.cart dd.item, dl.bonus dd.item {
    height: 113px;
    text-align: center;
    padding: 1.3rem 0
}
dl.bonus dd.item {height: inherit; text-align: left; padding: 1.3rem 1rem}
dl.cart dd.item a:link {
    border: #d0d0d0 1px solid;
    color: #000;
    line-height: inherit;
    margin-top: 0;
    padding-top: .8rem
}
dl.cart dd.item a:hover {
    background: #ef7622;
    color: #fff
}

dl.cart dd.item:nth-child(3), dl.cart dd.item:nth-child(3n+9) {font-weight: bold}

dd.fcart {margin: 0}
dd.fcart>input {
    border: 1px solid #e4e4e4;
    color: #333333;
    font-weight: 700;
    text-align: center;
    line-height: 40px;
    padding-bottom: 3px
}
dd.fcart>button {
    border: none;
    font-size: 1.5rem;
    margin-top: 0;
    padding: 0
}
dd.fcart>button:hover {border: none}

dl.cart dd.total {text-align: right}
dl.cart dd.total dl dd {font-weight: bold}
dl.cart dd.total dl dd span {width: 108px; display: inline-block}
dl.cart dd.total dl dd:nth-child(1) span, dl.cart dd.total dl dd:nth-child(2) span {color: #888}

.btn-primary {
    background-color: #EF7622;
    color: #fff;
    width: 196px;
    height: 55px;
    border-radius: 0;
    border: none;
    padding: 0 20px;
    line-height: 55px;
    position: relative;
    text-align: center;
    font-weight: 700;
    float: right;
    font-size: 15px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.btn-checkout {
    background-color: #EF7622;
    color: #fff;
    border-radius: 0;
    border: none;
    padding: 0;
    line-height: 35px;
    position: relative;
    text-align: center;
    font-weight: 700;
    float: right;
    font-size: 15px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
    .container {width: 100%; margin-right: 0; margin-left: 0}
    .panel-default > .panel-heading>span:nth-child(1) {width: 80%;display: inline-block}
    dl.cart dt.title, dl.bonus dt.title {display: none}
    dl.cart dt.mtitle, dl.bonus dt.mtitle {display: block}
    dl.cart dd.item {height: auto; padding-left: 1rem}
    dl.cart dd.fcart {padding: 1rem 0 0 1rem}
    dl.cart dd.item_img {border-top: #ccc 2px solid; margin-top: 1.5rem}
    dl.cart dd.item_img:nth-child(1) {border: none; margin-top: 0}
    dl.bonus dd.item {border: #ddd 1px solid; border-bottom: none; padding: 1.25rem .85rem}
    dl.bonus dd.item:last-child {border-bottom: #ddd 1px solid}
    dl.cart dd.wishlist {padding: .6rem}
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {
    .container {width: 100%; margin-right: 0; margin-left: 0}
    .panel-default > .panel-heading>span:nth-child(1) {width: 80%;display: inline-block}
    dl.cart dt.title, dl.bonus dt.title {display: none}
    dl.cart dt.mtitle, dl.bonus dt.mtitle {display: block}
    dl.cart dd.item {height: auto; padding-left: 1rem}
    dl.cart dd.fcart {padding: 1rem 0 0 1rem}
    dl.cart dd.item_img {border-top: #ccc 2px solid; margin-top: 1.5rem}
    dl.cart dd.item_img:nth-child(1) {border: none; margin-top: 0}
    dl.bonus dd.item {border: #ddd 1px solid; border-bottom: none}
    dl.bonus dd.item:last-child {border-bottom: #ddd 1px solid}
    dl.cart dd.wishlist {padding: .6rem}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}

/*ios use*/
/*iPhone 4 only Portrait or Landscape 基本上不用太理這支*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) and (orientation:portrait) {
    .panel-default > .panel-heading>span:nth-child(1) {width: 70%;display: inline-block}
}

/*iPhone 5 Portrait or Landscape*/
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {}
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {}

/*iPhone 6 Portrait or Landscape*/
@media only screen and (device-width : 375px) and (orientation : portrait) {}
@media only screen and (device-width : 667px) and (orientation : landscape) {}

/*iPhone plus 6 Portrait or Landscape*/
@media only screen and (device-width : 414px) and (orientation : portrait) {}
@media only screen and (device-width : 736px) and (orientation : landscape) {}

/*ipad*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { /* STYLES GO HERE */}

/*ipad mini*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 1)  { /* STYLES GO HERE */ }
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 1)  { /* STYLES GO HERE */}